<!DOCTYPE html>
<html lang="en">
<head>
    {% from "bootstrap5/form.html" import render_form %}
    <meta charset="UTF-8">
    <title>Add Todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #190482;
            color: #7752FE;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <h1>Add Todo</h1>
                    <span></span>
                </div>
                <div class="card-body">
                    {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
